.first {
	height: 100vh;
	min-height: 660px;
	background-image: url("/img/first-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--white-color);
}

.first__container {
	position: relative;
	padding-top: 223px;
	padding-bottom: 200px;
	height: 100%;
}

.first__link {
	background-color: rgb(28, 46, 61, 0.4);
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 2px;
	padding: 15px 30px;
	border-radius: 100px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 42px;
}
